<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhengjy.test">

    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">

        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".testcase.CustomView.CustomViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_CUSTOM_VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".testcase.SmallFeaturesActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_SMALL"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".testcase.lock.LockActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_LOCK"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".testcase.crumb.CrumbActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_CRUMB"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".testcase.combination.ComImageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_COM_IMAGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".testcase.widget.WidgetActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_WIDGET"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".testcase.SystemBar.BarActivity">
            <intent-filter>
                <action android:name="android.intent.action.ZHENGJY_BAR"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>